*.pyc
*.swp
*-stamp
tags

docs/fwmc.8
docs/fwmc.txt
docs/fwmc.xml
docs/fwmpp.8
docs/fwmpp.txt
docs/fwmpp.xml

etc/fwmacro/ipv4stop.rules
etc/fwmacro/ipv6stop.rules

distro/deb/debian/files
distro/deb/debian/python-fwmacro.debhelper.log
distro/deb/debian/python-fwmacro.substvars
distro/deb/debian/python-fwmacro
distro/python-fwmacro_*_all.deb
distro/python-fwmacro_*.changes

dist/
build/
fwmacro.egg-info/
fw
